{% extends 'base.html' %}
{% load unicorn %}

{% block title %}
Главная
{% endblock %}

{% block head %}{% unicorn_scripts %}{% endblock %}


{% block content %}

<a href="{% url 'index' %}">Главная</a>
{% if user.is_authenticated %}
<a href="{% url 'logout' %}">Выйти</a>
<a href="{% url 'profile' %}">Профиль</a>
<a href="/accounts/password_reset/">Сменить пароль</a>
<p>Вы вошли как <strong> {{ user }} </strong></p>
{% else %}
<a href="{% url 'login' %}">Войти</a>
{% endif %}

<div>
    <h2>Сложный процент</h2>
    <p>Сложный процент часто используется в сфере инвестиций. Но посчитать выгоду не так-то просто.</p>
    <p>Калькулятор сложных процентов сделает это за Вас.</p>
</div>

<div><p>{% unicorn 'button' %}</p></div>

{% endblock %}
