<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}[FutureFactory]{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>

<body>
    <div class = "grid-container">
        <div class = "item-a">
            {% block menu %}
            <div ></div>
            <div class="logo">
                <a class="navbar-brand" href="#">
                <img src="{% static 'logo.jpg' %}" width="80" height="70" />
                </a>
            </div>
            <div class="navigation">
                <a class="nav-link" href="http://127.0.0.1:8000/articles/">Главная</a>
                <a class="nav-link" href="#">Архив</a>
            </div>

            {% endblock %}
        </div>

        <div class = "item-b">
            {% block content %}
            {% endblock %}
        </div>


        <div class = "item-c">
            {% block footer %}
            <p><a href="#">Наверх</a></p>
            <p class="right">Любое использование либо копирование материалов или подборки материалов сайта (страницы)<br>
                допускается лишь с разрешения правообладателя и только со ссылкой на источник </p>
            {% endblock %}
        </div>
    </div>
</body>

</html>