{% extends 'basic.html' %}
{% load unicorn %}

{% block title %}
Главная
{% endblock %}

{% block head %}{% unicorn_scripts %}{% endblock %}


{% block content %}
<div class="clear"></div>
<div id="page-content">
    <section class="breadcrumb">
        <div class="container">
            <h2>Calculator</h2>
        </div>
    </section>
    <section class="blog-page">


<div>
    <h2>Сложный процент</h2>
    <p>Сложный процент часто используется в сфере инвестиций. Но посчитать выгоду не так-то просто.</p>
    <p>Калькулятор сложных процентов сделает это за Вас.</p>
</div>

<div><p>{% unicorn 'button' %}</p></div>

{% endblock %}