{% extends 'basic.html' %}
{% block title %}
InvestmentClub - Login
{% endblock %}
{% block content %}
<div id="page-content">
	<section class="breadcrumb">
		<div class="container">
			<h2>Login</h2>
		</div>
	</section>
	<div class="container">

		{% if user.is_authenticated %}
		<p>Вы уже выполнили вход</p>
		<p><a href="{% url 'button:profile' %}">Профиль</a></p>
		{% else %}
		<div>
			<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="hidden" name="next" value="{{next}}">
			<input type="submit" value="Login" class="btn-default">
			<a href="{% url 'signup' %}">SignUp</a>
			</form>	
		</div>
		{% endif %}
	</div>
{% endblock %}